[Unit]
Description=Clash
Documentation=https://github.com/Dreamacro/clash

[Service]
Type=simple
ExecStart=/home/paper/.bin/clash
ExecStop=
Restart=always

[Install]
WantedBy=default.target